
extends loggedinlayout

block content
	.mainBox
		.userNav
			ul.dashNav
				li.active(role='presentation')
					a(data-toggle="tab", href='#createuserprofile') Create User
				li(role='presentation')
					a(data-toggle="tab", href='#testresults') Test Results
				li(role='presentation')
					a(data-toggle="tab", href='#medications') Medications 
				li(role='presentation')
					a(data-toggle="tab", href='#allergies') Allergies 
				li(role='presentation')
					a(data-toggle="tab", href='#immunizations') Immunizations
				li(role='presentation')
					a(data-toggle="tab", href='#history') History Summary
		.userContent.tab-content						
			#createuserprofile.tab-pane.fade.in.active
				h1 Create User
				.mySmallBlock
					label.myLabel First Name *
					input.mySmallInput(ng-model="user.firstname")
				.mySmallBlock
					label.myLabel Last Name *
					input.mySmallInput(ng-model="user.lastname")
				.myClear
				.mySmallBlock
					label.myLabel Email *
					input.mySmallInput(type='email', ng-model="user.email")  
				.mySmallBlock
					label.myLabel Phone
					input.mySmallInput(type='number', ng-model="user.phone")
				.myClear
				.mySmallBlock
					label.myLabel Street Address
					input.mySmallInput(ng-model="user.street")
				.mySmallBlock
					label.myLabel City
					input.mySmallInput(ng-model="user.city")
				.myClear
				.myXSmallBlock
					label.myLabel Country
					input.mySmallInput(ng-model="user.country")
				.myXSmallBlock
					label.myLabel State
					input.mySmallInput(ng-model="user.state")
				.myXSmallBlock
					label.myLabel ZIP
					input.mySmallInput(ng-model="user.zip")

				.myClear
				.myXSmallBlock
					label.myLabel Gender
					input.myRadio(type='radio', name='gender', value='male', ng-model="gender")
					| Male
					input.myRadio(type='radio', name='gender', value='male', ng-model="gender")
					| Female
					input.myRadio(type='radio', name='gender', value='male')
					| Other
				.myXSmallBlock
					label.myLabel Height
					input.mySmallInput
				.myXSmallBlock
					label.myLabel Weight
					input.mySmallInput

				.myClear
				.mySmallBlock
					label.myLabel Primary Insurance
					input.mySmallInput
				.mySmallBlock
					label.myLabel Primary Pharmacy
					input.mySmallInput
				.myMediumBlock
					label.myLabel Comment
					input.myFullInput
					form(name='myForm')						


			#testresults.tab-pane.fade
				h1 Test Results
				.testMain
					.testBlock
						h1 Urine Tests
						form(name='urineTests' novalidate)
							label.myLabel pH Level
							input.mySmallInput(
								placeholder="1-14"
								type="number" 
								name="pH"
								ng-maxlength="2" 
								ng-model="urine.pH" 
								ng-required="true")
							span.myWarning(ng-show="urineTests.pH.$invalid && urineTests.pH.$touched") You must enter a number between 1-14
							span.myWarning(ng-show="urineTests.pH.$error.maxlength") Input cannot be more than 2 characters
							.myClear		$error.minlength
							label.myLabel Glucose
							input.mySmallInput(placeholder="mg/dL" 
								name="Glucose"
								ng-maxlength="10"  
								ng-model="urine.Glucose"
								ng-required="true")
							span.myWarning(ng-show="urineTests.Glucose.$invalid && urineTests.Glucose.$touched") You must enter glucose level
							span.myWarning(ng-show="urineTests.Glucose.$error.maxlength") Input cannot be more than 10 characters

							.myClear		
							label.myLabel Ketones
							Input.mySmallInput(placeholder="mg/dL" 
							name="Ketones"
							ng-maxlength="10" 
							ng-model="urine.Ketones"
							ng-required="true")
							span.myWarning(ng-show="urineTests.Ketones.$invalid && urineTests.Ketones.$touched") You must enter a ketones level
							span.myWarning(ng-show="urineTests.Ketones.$error.maxlength") Input cannot be more than 10 characters

							.myClear		
							label.myLabel Gravity
							input.mySmallInput(placeholder="1.005 - 1.030" 
							type="number" 
							name="Gravity" 
							ng-model="urine.Gravity" 
							ng-required="true"
							ng-maxlength="4")
							span.myWarning(ng-show="urineTests.Gravity.$invalid && urineTests.Gravity.$touched") You must enter a number between 1.005-1.030
							span.myWarning(ng-show="urineTests.Gravity.$error.maxlength") Input cannot be more than 4 characters
							a.mySubmit.btnsub Submit
							//end urinetests

					.testBlock
						h1 Blood Tests
						form(name='bloodTests' novalidate)
							label.myLabel Cholesterol
							input.mySmallInput(placeholder="mg/dL"
							type="text" 
							name="Cholesterol"
							ng-maxlength="10" 
							ng-model="blood.Cholesterol" 
							ng-required="true")
							span.myWarning(ng-show="bloodTests.Cholesterol.$invalid && bloodTests.Cholesterol.$touched") You must enter a cholesterol levels
							span.myWarning(ng-show="bloodTests.Cholesterol.$error.maxlength") Input cannot be more than 10 characters

							.myClear		
							label.myLabel Blood Type
							input.mySmallInput(placeholder="A, B, AB, O"
							type="text" 
							name="Type"
							ng-maxlength="2" 
							ng-model="blood.Type" 
							ng-required="true")							
							span.myWarning(ng-show="bloodTests.Type.$invalid && bloodTests.Type.$touched") You must enter a blood type
							span.myWarning(ng-show="bloodTests.Type.$error.maxlength") Input cannot be more than 2 charatecters

							.myClear		
							label.myLabel Glucose
							input.mySmallInput(placeholder="mg/dL"
							type="text" 
							name="Glucose"
							ng-maxlength="10" 
							ng-model="blood.Glucose" 
							ng-required="true")
							span.myWarning(ng-show="bloodTests.Glucose.$invalid && bloodTests.Glucose.$touched") You must enter a glucose level
							span.myWarning(ng-show="bloodTests.Glucose.$error.maxlength") Input cannot be more than 10 charatecters

							.myClear		
							label.myLabel CRP level
							input.mySmallInput(placeholder="mg/L"
							type="text" 
							name="CRP"
							ng-maxlength="10" 
							ng-model="blood.CRP" 
							ng-required="true")
							span.myWarning(ng-show="bloodTests.CRP.$invalid && bloodTests.CRP.$touched") You must enter a glucose level
							span.myWarning(ng-show="bloodTests.CRP.$error.maxlength") Input cannot be more than 10 charatecters						
							a.mySubmit.btnsub Submit									
							//end blood tests

					.testBlock
						h1 Imaging Tests
						form(name='imagingTests' novalidate)
						label.myLabel Label shit
						input.mySmallInput(placeholder="Something")
						.myClear		
						label.myLabel Label shit
						input.mySmallInput(placeholder="Something")								
						.myClear		
						label.myLabel Label shit
						input.mySmallInput(placeholder="Something")								
						.myClear		
						label.myLabel Label shit
						input.mySmallInput(placeholder="Something")
						a.mySubmit.btnsub Submit						
						//ennd test Imaging

					.testBlock
						h1 Endoscopy Tests
						form(name='endpscpyTests' novalidate)
						.mediumbox
							label.myLabel Blood Pressure
							input.input50(placeholder="Diastolic")
							input.input50_last.pull-left(placeholder="Systolic")
						.myClear		
						label.myLabel PSA Serum
						input.mySmallInput(placeholder="1-4 ng/mL")								
						.myClear		
						label.myLabel Vision 20/20 20/40 etc..
						input.mySmallInput(placeholder="20/20 20/40 etc..")									
						.myClear		
						label.myLabel Label shit
						input.mySmallInput(placeholder="Something")
						a.mySubmit.btnsub Submit	
						//end test endoscopy

			#medications.tab-pane.fade
				h1 Medications
				.myMain
					.form-group(data-ng-repeat='choice in medicationChoices')
						form.myBlock.medication(name="medications" novalidate)
							label.myLabel Medication Name
							input.input100(
								placeholder="Medication Name"
								type="text" 
								name="Medname" 
								ng-model="med.name" 
								ng-required="true")
							span.myWarning(ng-show="medications.Medname.$invalid && medications.Medname.$touched") You must enter a medication name	
							.myClear

							label.myLabel Dosage (mg,m,etc)
							input.input100(
								placeholder="mg, g, etc.."
								type="text" 
								name="Dosage" 
								ng-model="med.dosage" 
								ng-required="true")
							span.myWarning(ng-show="medications.Dosage.$invalid && medications.Dosage.$touched") You must enter a dosage	
							.myClear

							label.myLabel Frequency (twice a day/ every 2 hours etc.)
							input.input100(
								placeholder="Frequency"
								type="text" 
								name="Frequency" 
								ng-model="med.frequency" 
								ng-required="true")
							span.myWarning(ng-show="medications.Frequency.$invalid && medications.Frequency.$touched") You must enter a frequency
							.myClear
							.mySmallBlock
								label.myLabel Date Start
								input.input50(
									placeholder="mm/dd/yyyy"
									type="text" 
									name="DateStart" 
									ng-model="med.DateStart" 
									ng-required="true")
								span.myWarning(ng-show="medications.DateStart.$invalid && medications.DateStart.$touched") You must enter a start date
							.mySmallBlock									
								label.myLabel_last Date End
								input.input50_last(
									placeholder="mm/dd/yyyy"
									type="text" 
									name="DateEnd" 
									ng-model="med.DateEnd" 
									ng-required="true")
								span.myWarning(ng-show="medications.DateEnd.$invalid && medications.DateEnd.$touched") You must enter an end date
							.myClear
							label.myLabel Description
							input.myFullInput(ng-model="med.description"
							placeholder="Description"
							type="text"
							name="description"
							ng-required="true"
							ng-maxlength="50"
							ng-minlength="20")
							span.myWarning(ng-show="medications.description.$invalid && medications.description.$touched") You must enter a description
							span.myWarning(ng-show="medications.description.$error.maxlength") Input cannot be more than 50 characters
							span.myWarning(ng-show="medications.description.$error.minlength") Input must be atleast 20 characters
							a.mySubmit.btnsub(ng-show='showAddMedicationChoice(choice)', ng-click='addNewMedicationChoice()') Add another Medication
				a.mySubmit.pull-right Submit

			#allergies.tab-pane.fade
				h1 Allergies
				.myMain
					.form-group(data-ng-repeat='choice in allergyChoices')
						form.myBlock.allergy(name="allergies" novalidate)
							//ng-model="choice.name"
							label.myLabel Allergy Name
							input.input100(
							placeholder="Allergy Name"
							type="text" 
							name="allergyName" 
							ng-model="allergy.name"
							ng-maxlength="12" 
							ng-required="true")
							span.myWarning(ng-show="allergies.allergyName.$invalid && allergies.allergyName.$touched") You must enter an allergy name
							span.myWarning(ng-show="allergies.allergyName.$error.maxlength") Input cannot be more than 12 characters

							.myClear
							.mySmallBlock
								label.control-label.myLabel Date Start
								input(class="datepicker1 input50 form-control"
								type="date"
								name="DateStart" 
								ng-model="allergy.datepicker1"
								ng-required="true")
								span.myWarning(ng-show="allergies.DateStart.$invalid && allergies.DateStart.$touched") You must enter a start date

							.mySmallBlock
								label.control-label.myLabel_last Date End
								input.form-control.input50_last.datepicker2(type="date"
								ng-model="allergy.datepicker2"
								name="DateEnd"
								ng-required="true")
								span.myWarning(ng-show="allergies.DateEnd.$invalid && allergies.DateEnd.$touched") You must enter an end date

							.myClear
							label.myLabel Description
							input.myFullInput(ng-model="allergy.description"
							placeholder="Description"
							type="text"
							name="description"
							ng-required="true"
							ng-maxlength="50"
							ng-minlength="20")
							span.myWarning(ng-show="allergies.description.$invalid && allergies.description.$touched") You must enter a description
							span.myWarning(ng-show="allergies.description.$error.maxlength") Input cannot be more than 50 characters
							span.myWarning(ng-show="allergies.description.$error.minlength") Input must be atleast 20 characters
							a.mySubmit.btnsub(ng-show='showAddAllergiesChoice(choice)', ng-click='addNewAllergiesChoice()') Add another Allergy
				a.mySubmit.pull-right Submit
			#immunizations.tab-pane.fade
				h1 Immunizations
				.myMain
					.form-group(data-ng-repeat='choice in immunizationChoices')
						form.myBlock.immunization(name="immunizations" novalidate)
							label.myLabel Immunization Name
							input.input100(
							placeholder="Immunization Name"
							type="text" 
							name="immunizationName" 
							ng-model="immunization.name"
							ng-maxlength="20" 
							ng-required="true")
							span.myWarning(ng-show="immunizations.immunizationName.$invalid && immunizations.immunizationName.$touched") You must enter an immunization name
							span.myWarning(ng-show="immunizations.immunizationName.$error.maxlength") Input cannot be more than 20 characters

							.myClear
							.mySmallBlock
								label.myLabel Date Recorded
								input.input50(type="date"
								ng-model="immunization.datepicker1"
								name="DateStart"
								ng-required="true")
								span.myWarning(ng-show="immunizations.DateStart.$invalid && immunizations.DateStart.$touched") You must enter a start date
							.mySmallBlock
								label.myLabel_last Date Expires
								input.input50_last(type="date"
								ng-model="immunization.datepicker2"
								name="DateEnd"
								ng-required="true")
								span.myWarning(ng-show="immunizations.DateEnd.$invalid && immunizations.DateEnd.$touched") You must enter an end date
							.myClear
							label.myLabel Description
							input.myFullInput(ng-model="immunization.description"
							placeholder="Description"
							type="text"
							name="description"
							ng-required="true"
							ng-maxlength="50"
							ng-minlength="20")
							span.myWarning(ng-show="immunizations.description.$invalid && immunizations.description.$touched") You must enter a description
							span.myWarning(ng-show="immunizations.description.$error.maxlength") Input cannot be more than 50 characters
							span.myWarning(ng-show="immunizations.description.$error.minlength") Input must be atleast 20 characters

							a.mySubmit.btnsub(ng-show='showAddImmunizationChoice(choice)', ng-click='addNewImmunizationChoice()') Add another Immunization
				a.mySubmit.pull-right Submit
			#history.tab-pane.fade
				h1 History
