
extends loggedinlayout

block content
	.mainBox
		.userNav
			ul.dashNav
				li.active(role='presentation')
					a(data-toggle="tab", href='#updateuserprofile') Update User
				li(role='presentation')
					a(data-toggle="tab", href='#testresults') Test Results
				li(role='presentation')
					a(data-toggle="tab", href='#medications') Medications 
				li(role='presentation')
					a(data-toggle="tab", href='#allergies') Allergies 
				li(role='presentation')
					a(data-toggle="tab", href='#immunizations') Immunizations
				li(role='presentation')
					a(data-toggle="tab", href='#register') Register New User
		.userContent.tab-content
			angucomplete-alt#ex1(placeholder='Search Patients', pause='100', selected-object='selectedPatient', local-data='allUsers', search-fields='name', title-field='name', minlength='1', input-class='form-control form-control-small input50_search')
			#updateuserprofile.tab-pane.fade.in.active
				h1 Update User
				.mySmallBlock
					label.myLabel First Name *
					input.mySmallInput(ng-model="user.firstname")
				.mySmallBlock
					label.myLabel Last Name *
					input.mySmallInput(ng-model="user.lastname")
				.myClear
				.mySmallBlock
					label.myLabel Email *
					input.mySmallInput(type='email', ng-model="user.email")  
				.mySmallBlock
					label.myLabel Phone
					input.mySmallInput(ng-model="user.phone")
				.myClear
				.mySmallBlock
					label.myLabel Street Address
					input.mySmallInput(ng-model="user.streetaddress")
				.mySmallBlock
					label.myLabel City
					input.mySmallInput(ng-model="user.city")
				.myClear
				.myXSmallBlock
					label.myLabel Country
					input.mySmallInput(ng-model="user.country")
				.myXSmallBlock
					label.myLabel State
					input.mySmallInput(ng-model="user.state")
				.myXSmallBlock
					label.myLabel ZIP
					input.mySmallInput(ng-model="user.zip")

				.myClear
				.myXSmallBlock
					label.myLabel Gender
					input.myRadio(type='radio', name='gender', value='male', ng-model="gender")
					| Male
					input.myRadio(type='radio', name='gender', value='female', ng-model="gender")
					| Female
					input.myRadio(type='radio', name='gender', value='male')
					| Other
				.myXSmallBlock
					label.myLabel Height
					input.mySmallInput(ng-model="user.height")
				.myXSmallBlock
					label.myLabel Weight
					input.mySmallInput(ng-model="user.weight")

				.myClear
				.mySmallBlock
					label.myLabel Primary Insurance
					input.mySmallInput(ng-model="user.primaryinsurance")
				.mySmallBlock
					label.myLabel Primary Pharmacy
					input.mySmallInput(ng-model="user.primarypharmacy")
				.myMediumBlock
					label.myLabel Comment
					input.myFullInput(ng-model="user.comment")

			#testresults.tab-pane.fade
				h1 Test Results
				.testMain
					.testBlock
						h1 Urine Tests
						form(name='urineTests' novalidate)
							label.myLabel pH Level
							input.mySmallInput(
								placeholder="1-14"
								type="text" 
								name="pH"
								ng-maxlength="2" 
								ng-model="urine.phlevel" 
								ng-required="true")
							span.myWarning(ng-show="urineTests.pH.$invalid && urineTests.pH.$touched") You must enter a number between 1-14
							span.myWarning(ng-show="urineTests.pH.$error.maxlength") Input cannot be more than 2 characters
							.myClear		$error.minlength
							label.myLabel Glucose
							input.mySmallInput(placeholder="mg/dL" 
								name="Glucose"
								ng-maxlength="10"  
								ng-model="urine.glucoseurine"
								ng-required="true")
							span.myWarning(ng-show="urineTests.Glucose.$invalid && urineTests.Glucose.$touched") You must enter glucose level
							span.myWarning(ng-show="urineTests.Glucose.$error.maxlength") Input cannot be more than 10 characters

							.myClear		
							label.myLabel Ketones
							Input.mySmallInput(placeholder="mg/dL" 
								name="Ketones"
								ng-maxlength="10" 
								ng-model="urine.ketones"
								ng-required="true")
							span.myWarning(ng-show="urineTests.Ketones.$invalid && urineTests.Ketones.$touched") You must enter a ketones level
							span.myWarning(ng-show="urineTests.Ketones.$error.maxlength") Input cannot be more than 10 characters

							.myClear		
							label.myLabel Gravity
							input.mySmallInput(placeholder="1.005 - 1.030" 
								type="text" 
								name="Gravity" 
								ng-model="urine.gravity" 
								ng-required="true"
								ng-maxlength="4")
							span.myWarning(ng-show="urineTests.Gravity.$invalid && urineTests.Gravity.$touched") You must enter a number between 1.005-1.030
							span.myWarning(ng-show="urineTests.Gravity.$error.maxlength") Input cannot be more than 4 characters

							.myClear
							label.myLabel Date Recorded
							input.mySmallInput(
								type="date"
								name="Date"
								ng-model="urine.date" 
								ng-required="true")
							span.myWarning(ng-show="urineTests.Date.$invalid && urineTests.Date.$touched") You must enter a date
							input.mySmallInput(
								ng-hide="true",
								ng-init="urine.testtype='urine'"
								ng-model="urine.testtype")
							a.mySubmit.btnsub(ng-click='submitTest("urine")')  Submit
							//end urinetests

					.testBlock
						h1 Blood Tests
						form(name='bloodTests' novalidate)
							label.myLabel Cholesterol
							input.mySmallInput(placeholder="mg/dL"
								type="text" 
								name="Cholesterol"
								ng-maxlength="10" 
								ng-model="blood.cholesterol" 
								ng-required="true")
							span.myWarning(ng-show="bloodTests.Cholesterol.$invalid && bloodTests.Cholesterol.$touched") You must enter a cholesterol levels
							span.myWarning(ng-show="bloodTests.Cholesterol.$error.maxlength") Input cannot be more than 10 characters

							.myClear		
							label.myLabel Blood Type
							input.mySmallInput(placeholder="A, B, AB, O"
								type="text" 
								name="Type"
								ng-maxlength="2" 
								ng-model="blood.bloodtype" 
								ng-required="true")							
							span.myWarning(ng-show="bloodTests.Type.$invalid && bloodTests.Type.$touched") You must enter a blood type
							span.myWarning(ng-show="bloodTests.Type.$error.maxlength") Input cannot be more than 2 charatecters

							.myClear		
							label.myLabel Glucose
							input.mySmallInput(placeholder="mg/dL"
								type="text" 
								name="Glucose"
								ng-maxlength="10" 
								ng-model="blood.glucoseblood" 
								ng-required="true")
							span.myWarning(ng-show="bloodTests.Glucose.$invalid && bloodTests.Glucose.$touched") You must enter a glucose level
							span.myWarning(ng-show="bloodTests.Glucose.$error.maxlength") Input cannot be more than 10 charatecters

							.myClear		
							label.myLabel CRP level
							input.mySmallInput(placeholder="mg/L"
								type="text" 
								name="CRP"
								ng-maxlength="10" 
								ng-model="blood.cpr" 
								ng-required="true")
							span.myWarning(ng-show="bloodTests.CRP.$invalid && bloodTests.CRP.$touched") You must enter a CRP level
							span.myWarning(ng-show="bloodTests.CRP.$error.maxlength") Input cannot be more than 10 charatecters

							.myClear
							label.myLabel Date Recorded
							input.mySmallInput(
								type="date"
								name="Date"
								ng-model="blood.date" 
								ng-required="true")
							span.myWarning(ng-show="bloodTests.Date.$invalid && bloodTests.Date.$touched") You must enter a date		
							input.mySmallInput(
								ng-hide="true"
								ng-init="blood.testtype='blood'"
								ng-model="blood.testtype")
							a.mySubmit.btnsub(ng-click='submitTest("blood")') Submit									
							//end blood tests

					//- .testBlock
					//- 	h1 Imaging Tests
					//- 	form(name='imagingTests' novalidate)
					//- 	label.myLabel Label shit
					//- 	input.mySmallInput(placeholder="Something")
					//- 	.myClear		
					//- 	label.myLabel Label shit
					//- 	input.mySmallInput(placeholder="Something")								
					//- 	.myClear		
					//- 	label.myLabel Label shit
					//- 	input.mySmallInput(placeholder="Something")								
					//- 	.myClear		
					//- 	label.myLabel Label shit
					//- 	input.mySmallInput(placeholder="Something")
					//- 
					//- 	.myClear
					//- 	label.myLabel Date Recorded
					//- 	input.mySmallInput(
					//- 		type="date"
					//- 		name="Date"
					//- 		ng-model="imaging.Date" 
					//- 		ng-required="true")
					//- 	span.myWarning(ng-show="imagingTests.Date.$invalid && imagingTests.Date.$touched") You must enter a date		
					//- 	a.mySubmit.btnsub Submit							
					//- 	//ennd test Imaging

					.testBlock
						h1 Vital Tests
						form(name="vitalTests" novalidate)
							label.myLabel Blood Pressure
							input.input50(placeholder="Diastolic"
								type="text" 
								name="Diastolic"
								ng-maxlength="3" 
								ng-model="vital.blooddiastolic" 
								ng-required="true")
							span.myWarning(ng-show="vitalTests.Diastolic.$invalid && vitalTests.Diastolic.$touched") You must enter a diastolic pressure
							span.myWarning(ng-show="vitalTests.Diastolic.$error.maxlength") Input cannot be more than 3 charatecters

							.myClear			
							input.input50(placeholder="Systolic"
								type="text" 
								name="Systolic"
								ng-maxlength="3" 
								ng-model="vital.bloodsystolic" 
								ng-required="true")
							span.myWarning(ng-show="vitalTests.Systolic.$invalid && vitalTests.Systolic.$touched") You must enter a systolic pressure
							span.myWarning(ng-show="vitalTests.Systolic.$error.maxlength") Input cannot be more than 3 charatecters

							.myClear		
							label.myLabel Respiratory Rate
							input.mySmallInput(placeholder="BPM"
								type="text" 
								name="BPM"
								ng-maxlength="10" 
								ng-model="vital.respiratoryrate" 
								ng-required="true")
							span.myWarning(ng-show="vitalTests.BPM.$invalid && vitalTests.BPM.$touched") You must enter a BPM
							span.myWarning(ng-show="vitalTests.BPM.$error.maxlength") Input cannot be more than 10 charatecters

							.myClear		
							label.myLabel Heart Rate
							input.mySmallInput(placeholder="# beats per min"
								type="text" 
								name="heartRate"
								ng-maxlength="3" 
								ng-model="vital.heartrate"
								ng-required="true")
							span.myWarning(ng-show="vitalTests.heartRate.$invalid && vitalTests.heartRate.$touched") You must enter a heart rate
							span.myWarning(ng-show="vitalTests.heartRate.$error.maxlength") Input cannot be more than 3 charatecters										
							.myClear		
							label.myLabel Body Temperature
							input.mySmallInput(placeholder="Degrees Fereinheit"
								type="text" 
								name="Bodytemp"
								ng-maxlength="3" 
								ng-model="vital.bodytemperature"
								ng-required="true")
							span.myWarning(ng-show="vitalTests.Bodytemp.$invalid && vitalTests.Bodytemp.$touched") You must enter a body temperate
							span.myWarning(ng-show="vitalTests.Bodytemp.$error.maxlength") Input cannot be more than 3 charatecters		

							.myClear
							label.myLabel Date Recorded
							input.mySmallInput(
								type="date"
								name="Date"
								ng-model="vital.date" 
								ng-required="true")
							span.myWarning(ng-show="vitalTests.Date.$invalid && vitalTests.Date.$touched") You must enter a date
							input.mySmallInput(
								ng-hide="true",
								ng-init="vital.testtype='vital'"
								ng-model="vital.testtype")
							a.mySubmit.btnsub(ng-click='submitTest("vital")') Submit				
							//end test endoscopy

			#medications.tab-pane.fade
				h1 Medications
				.myMain
					.form-group(data-ng-repeat='choice in medicationChoices')
						form.myBlock.medication(name="medications" novalidate)
							label.myLabel Medication Name
							input.input100(
								placeholder="Medication Name"
								type="text" 
								name="Medname" 
								ng-model="choice.name" 
								ng-required="true")
							span.myWarning(ng-show="medications.Medname.$invalid && medications.Medname.$touched") You must enter a medication name	
							.myClear

							label.myLabel Dosage (mg,m,etc)
							input.input100(
								placeholder="mg, g, etc.."
								type="text" 
								name="Dosage" 
								ng-model="choice.dosage" 
								ng-required="true")
							span.myWarning(ng-show="medications.Dosage.$invalid && medications.Dosage.$touched") You must enter a dosage	
							.myClear

							label.myLabel Frequency (twice a day/ every 2 hours etc.)
							input.input100(
								placeholder="Frequency"
								type="text" 
								name="Frequency" 
								ng-model="choice.frequency" 
								ng-required="true")
							span.myWarning(ng-show="medications.Frequency.$invalid && medications.Frequency.$touched") You must enter a frequency
							.myClear
							.mySmallBlock
								label.myLabel Date Start
								input.input50(
									placeholder="mm/dd/yyyy"
									type="date" 
									name="DateStart" 
									ng-model="choice.datestart" 
									ng-required="true")
								span.myWarning(ng-show="medications.DateStart.$invalid && medications.DateStart.$touched") You must enter a start date
							.mySmallBlock									
								label.myLabel_last Date End
								input.input50_last(
									placeholder="mm/dd/yyyy"
									type="date" 
									name="DateEnd" 
									ng-model="choice.dateend" 
									ng-required="true")
								span.myWarning(ng-show="medications.DateEnd.$invalid && medications.DateEnd.$touched") You must enter an end date
							.myClear
							label.myLabel Description
							input.myFullInput(ng-model="choice.description"
								placeholder="Description"
								type="text"
								name="description"
								ng-required="true"
								ng-maxlength="50"
								ng-minlength="5")
							span.myWarning(ng-show="medications.description.$invalid && medications.description.$touched") You must enter a description
							span.myWarning(ng-show="medications.description.$error.maxlength") Input cannot be more than 50 characters
							span.myWarning(ng-show="medications.description.$error.minlength") Input must be atleast 20 characters
							a.mySubmit.btnsub(ng-show='addChoice(choice, "medication")', ng-click='addNewChoice("medication")') Add another Medication
				a.mySubmit.pull-right(ng-click='submitMecicine()') Submit

			#allergies.tab-pane.fade
				h1 Allergies
				.myMain
					.form-group(data-ng-repeat='choice in allergyChoices')
						form.myBlock.allergy(name="allergies" novalidate)
							//ng-model="choice.name"
							label.myLabel Allergy Name
							input.input100(
								placeholder="Allergy Name"
								type="text" 
								name="allergyName" 
								ng-model="choice.name"
								ng-maxlength="12" 
								ng-required="true")
							span.myWarning(ng-show="allergies.allergyName.$invalid && allergies.allergyName.$touched") You must enter an allergy name
							span.myWarning(ng-show="allergies.allergyName.$error.maxlength") Input cannot be more than 12 characters
							.myClear
							.mySmallBlock
								label.control-label.myLabel Date Start
								input(class="datepicker1 input50 form-control"
								type="date"
								name="DateStart" 
								ng-model="choice.datestart"
								ng-required="true")
								span.myWarning(ng-show="allergies.DateStart.$invalid && allergies.DateStart.$touched") You must enter a start date

							.mySmallBlock
								label.control-label.myLabel_last Date End
								input.form-control.input50_last.datepicker2(type="date"
								ng-model="choice.dateend"
								name="DateEnd"
								ng-required="true")
								span.myWarning(ng-show="allergies.DateEnd.$invalid && allergies.DateEnd.$touched") You must enter an end date
							.myClear
							label.myLabel Description
							input.myFullInput(ng-model="choice.description"
								placeholder="Description"
								type="text"
								name="description"
								ng-required="true"
								ng-maxlength="50"
								ng-minlength="5")
							span.myWarning(ng-show="allergies.description.$invalid && allergies.description.$touched") You must enter a description
							span.myWarning(ng-show="allergies.description.$error.maxlength") Input cannot be more than 50 characters
							span.myWarning(ng-show="allergies.description.$error.minlength") Input must be atleast 20 characters
							a.mySubmit.btnsub(ng-show='addChoice(choice, "allergy")', ng-click='addNewChoice("allergy")') Add another Allergy
				a.mySubmit.pull-right(ng-click='submitAllergy()') Submit
			#immunizations.tab-pane.fade
				h1 Immunizations
				.myMain
					.form-group(data-ng-repeat='choice in immunizationChoices')
						form.myBlock.immunization(name="immunizations" novalidate)
							label.myLabel Immunization Name
							input.input100(
								placeholder="Immunization Name"
								type="text" 
								name="immunizationName" 
								ng-model="choice.name"
								ng-maxlength="20" 
								ng-required="true")
							span.myWarning(ng-show="immunizations.immunizationName.$invalid && immunizations.immunizationName.$touched") You must enter an immunization name
							span.myWarning(ng-show="immunizations.immunizationName.$error.maxlength") Input cannot be more than 20 characters
							.myClear
							.mySmallBlock
								label.myLabel Date Immunized
								input.input50(type="date"
								ng-model="choice.dateimmunized"
								name="DateStart"
								ng-required="true")
								span.myWarning(ng-show="immunizations.DateStart.$invalid && immunizations.DateStart.$touched") You must enter a start date
							.mySmallBlock
								label.myLabel_last Date Expires
								input.input50_last(type="date"
								ng-model="choice.dateexpired"
								name="DateEnd"
								ng-required="true")
								span.myWarning(ng-show="immunizations.DateEnd.$invalid && immunizations.DateEnd.$touched") You must enter an end date
							.myClear
							label.myLabel Description
							input.myFullInput(ng-model="choice.description"
								placeholder="Description"
								type="text"
								name="description"
								ng-required="true"
								ng-maxlength="50"
								ng-minlength="5")
							span.myWarning(ng-show="immunizations.description.$invalid && immunizations.description.$touched") You must enter a description
							span.myWarning(ng-show="immunizations.description.$error.maxlength") Input cannot be more than 50 characters
							span.myWarning(ng-show="immunizations.description.$error.minlength") Input must be atleast 20 characters

							a.mySubmit.btnsub(ng-show='addChoice(choice, "immunization")', ng-click='addNewChoice("immunization")') Add another Immunization
				a.mySubmit.pull-right(ng-click='submitImmunization()') Submit
			#register.tab-pane.fade
				h1 Register New User
				.myMediumBlock
					form(action='/register', method='post')
						.form-horizontal
							.form-group
								label First Name
									.input-group
								input.form-control(type='text', placeholder='First Name', ng-model='userData.fname', name='fname', required='')
							.form-group
								label Last Name
								.input-group
								input.form-control(type='text', placeholder='Last Name', ng-model='userData.lname', name='lname', required='')
							.form-group
								label User Access
								select.form-control(name='useraccess', ng-model='userData.useraccess', required='')
									option(value='')
									option(value='user') User
									option(value='doctor') Doctor
									option(value='admin') Admin
							.form-group
								label Email
								.input-group
								input.form-control(type='email', placeholder='Email Address', ng-model='userData.email', name='email', required='')
							.form-group
								label Password
								.input-group
								input.form-control(type='password', placeholder='Password', ng-model='userData.pass', name='pass', required='')
							.form-group
								label Confirm Password
								.input-group
								input.form-control(type='password', placeholder='Password', ng-model='userData.passconf', name='passconf', required='')
							.row.center-text
								button.btn.btn-success.btn-block(type='submit') Register
